:root{
    --primary-color: white; 
    --secondary-color: #171517;
    --submit-color:  #00000080
  }


  .light-mode {
    --primary-color: white; 
    --secondary-color: #171517;
    --submit-color:  #00000080
  }
  
  .dark-mode {
    --primary-color: #171517; 
    --secondary-color: white;
    --submit-color:  #ffffff80

  }
  